@font-face {
  font-family: "iconfont"; /* Project id 3521038 */
  src: url('iconfont.woff2?t=1658749429510') format('woff2'),
       url('iconfont.woff?t=1658749429510') format('woff'),
       url('iconfont.ttf?t=1658749429510') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-shafa1:before {
  content: "\e645";
}

.icon-jiajukongzhi-reshuiqi:before {
  content: "\e608";
}

.icon-chuang:before {
  content: "\e7d0";
}

.icon-shoucang1:before {
  content: "\e62b";
}

.icon-xiyiji:before {
  content: "\e67d";
}

.icon-shuinuanqigongcheng:before {
  content: "\e636";
}

.icon-shafa:before {
  content: "\e621";
}

.icon-meiqitianranqi:before {
  content: "\e60e";
}

.icon-dianshi:before {
  content: "\e680";
}

.icon-bingxiang:before {
  content: "\e90b";
}

.icon-kongtiao:before {
  content: "\e90d";
}

.icon-kuandai:before {
  content: "\e90e";
}

.icon-yinshuiji-:before {
  content: "\e647";
}

.icon-yigui:before {
  content: "\e60d";
}

.icon-shoucang:before {
  content: "\e600";
}

.icon-sousuo:before {
  content: "\e62f";
}

.icon-31haoyou:before {
  content: "\e601";
}

.icon-shouye:before {
  content: "\e64f";
}

.icon-zufang:before {
  content: "\e630";
}

.icon-ditu:before {
  content: "\e884";
}

.icon-wode:before {
  content: "\e8a0";
}

.icon-zufang1:before {
  content: "\e611";
}

.icon-qiapian:before {
  content: "\e674";
}

.icon-zixun:before {
  content: "\e609";
}

.icon-lishijilu_o:before {
  content: "\eb7b";
}

.icon-gerenziliao:before {
  content: "\e603";
}

.icon-lianxiwomen:before {
  content: "\e604";
}

.icon-ditu1:before {
  content: "\e8ad";
}

